/*
 * ======================================================
 * Nextflow configuration for Nanopore pipeline
 * Using pre-existing Conda environment 'nf'
 * Compatible with Nextflow 25.04.8
 * ======================================================
 */

params {
    // Default input and output paths
    reads    = './data/sim_nanopore_5x.fastq'   // default FASTQ file
    outdir   = './results'                      // default results folder
    threads  = 4                                // default number of threads
    memory   = '12 GB'                          // process memory (fits 16 GB laptop)
    fastqc   = true                             // whether to run FastQC
}

process {
    executor = 'local'
    cpus     = params.threads
    memory   = params.memory

    // Use your existing environment, do NOT create new Conda envs
    conda         = false
    beforeScript  = ''

    errorStrategy = 'retry'
    maxRetries    = 1
    maxErrors     = '-1'
    time          = '4h'
}

timeline {
    enabled = true
    file    = "${params.outdir}/timeline.html"
    overwrite = true

}

report {
    enabled = true
    file    = "${params.outdir}/report.html"
    overwrite = true

}

trace {
    enabled = true
    file    = "${params.outdir}/trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file    = "${params.outdir}/flowchart.png"
    overwrite = true

}

profiles {
    // Profile for using pre-installed Conda environment 'nf'
    conda {
        process {
            executor = 'local'
            conda    = false
            beforeScript = ''  // rely on user to activate 'nf' manually
        }
    }

    standard {
        process.executor = 'local'
    }
}

docker.enabled = false
singularity.enabled = false
podman.enabled = false
